:root {
  --body-bg-color: rgb(0, 0, 0);
  --header-text-color: white;
  --description-color: white;
  --shapeDivider-bg-color: rgb(0, 0, 0);
  --projectsTitleBanner-bg: rgba(68, 67, 67, 0.267);
  --otherProjectsDescription-color: rgb(255, 254, 254);
}