.container p, 
.container a {
  color: var(--otherProjectsDescription-color);
}
.container a:hover {
  color: rgba(220, 220, 153, 0.722);
}

small {
  color: rgba(250, 235, 215, 0.696);
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.upperPart {
  font-size: clamp(2rem, 5vw, 5rem);
  width: 50vw;
  margin-right: auto;
  line-height: clamp(10px, 35px, 70px);
  text-align: end;
}

.lowerPart {
  font-size: clamp(1rem, 3vw, 5rem);
  width: 50vw;
  margin-left: auto;
}

.copyrightWrap {
  text-align: end;
  padding-right: 1rem;
  font-size: clamp(0.6rem, 2vw, 1rem);
  background: var(--footerCopyright-bg);
  border-top: 0.5px solid rgba(255, 255, 255, 0.437);
  width: 100%;
  position: relative;
  z-index: 999;
}

@media (max-width: 599px) {
  .lowerPart {
    line-height: 35px;
  }
  .upperPart {
    line-height: 25px;
  }
}

@media (max-width: 320px) and (max-height: 220px) {
   .upperPart {
    font-size: 1rem;
    line-height: 10px;
  }

  .lowerPart {
    font-size: 0.7rem;
    width: 60vw;
    margin-left: auto;
  }
}

@media (min-width: 2049px) {
  .upperPart {
    font-size: clamp(2rem, 5vw, 8rem);
    line-height: 5rem;
  }
  .copyrightWrap {
    font-size: clamp(0.6rem, 2vw, 4rem);
  }
}

@media (min-height: 1280px) and (orientation: portrait) {
  .upperPart {
    font-size: clamp(3rem, 6vw, 8rem);
  }
  .lowerPart {
    font-size: 2rem;
  }
  .copyrightWrap {
    font-size: clamp(1.5rem, 2vw, 4rem);
  }
}

@media (min-width: 600px) and (max-height: 1280px) and (orientation: portrait) {
  .upperPart {
    font-size: clamp(3rem, 5vw, 8rem);
  }
  .lowerPart {
    font-size: 1.8rem;
    width: 60vw;
  }
  .copyrightWrap {
    font-size: clamp(1.2rem, 2vw, 4rem);
  }
}