.containter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none; /*allow clicks through*/
}

.bubble {
  --neon-color: rgb(244, 244, 245);
  position: absolute;

  bottom: -60px;

  border-radius: 50%;
  animation: rise linear forwards;
  filter: blur(1px);

}

.bubbleSmall {
  box-shadow:
              0 0 18px rgba(255, 220, 180, 0.9),
              0 0 25px rgba(255, 220, 180, 0.8),
              0 0 70px rgba(255, 220, 180, 0.5),
              0 0 90px rgba(255, 220, 180, 0.4)
            ;
            background-color: rgb(255, 240, 220);
            filter: blur(1px);

  border-radius: 50%;
  /* animation: rise linear forwards; */
  z-index: 99;
  position: absolute;
  bottom: 10rem;
  opacity: 0;
}

.containerSmall {
  position: absolute;
  top: 0;
  left: 3rem;
  width: 50vw;
  height: 100vh;
  pointer-events: none; /*allow clicks through*/
  z-index: 999;
}

@keyframes rise {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-120vh);
    opacity: 0;
  }
}   