.backgroundTitle h1{
  position: absolute;
  top: 0;
  right: clamp(10rem, 11rem, 20rem);
  transform: translate(10rem, 1rem); /* further back */
  filter: blur(1px);
  font-size: clamp(5vw, 12vw, 15vw);
  color: var(--description-color);
}

.contentWrap h3 {
  color: var(--description-color);
  font-size: clamp(2rem, 3.5vw, 4rem);
}

.contentWrap hr {
  width: 45vw;
  transform: translateX(-1.9rem);
}

.container {
  width: 100vw;
  height: auto;
}

.contentWrap {
  display: flex;
  width: 100%;
  height: 80vh;
  background-color: rgba(240, 248, 255, 0.119);
  padding: 0 2rem;
  position: relative;
}

.imgWrap {
  width: clamp(16rem, 40vw, 40rem); 
  height: auto;
  align-self: flex-end;
  margin-left: auto;
}
.imgWrap img {
  width: 100%; 
  height: auto; 
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}

.imgWrap a {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-0.5rem, -100%);
  color: rgb(255, 255, 254);
  font-size: clamp(1rem, 2vw, 2rem);
}

.imgWrap a:hover {
  filter: brightness(120%);
}
.description {
  align-self: center;
  width: clamp(10rem, 20rem, 30rem);
}

.skills {
  width: 100%;
}

.journeyBar {
  display: flex;
  justify-content: space-around;
}

.journeyBar li::before{
  content: "-";
  margin-right: 0.5rem;
}

.skillCategory {
  color: var(--description-color);
  font-size: clamp(0.8rem, 2vw, 1.4rem);
}
.skillCategory span::before{
  content: "-";
  margin-right: 0.5rem;
}
.skillCategory h4 {
  margin-bottom: 0.2rem;
  border-bottom: 1px solid white;
  width: fit-content;
}

.techSkills{
  position: relative;
}
.retangleDecoration {
  background-color: rgba(240, 248, 255, 0.151);
  height: 100%;
  width: clamp(15rem, 50vw, 55vw);
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(25% 0%, 100% 0%, 90% 100%, 0% 100%);
  transform: translate(-20%, 0%);
}

.musicComposing {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.musicComposing svg {
  width: 30px;
}
.musicComposing a:hover {
  cursor: pointer;
}

.youtubeWrap {
  display: flex;
  align-items: center;
  font-size: 0.8em;
}
.youtubeWrap p {
  color: var(--description-color);;
}
.youtubeWrap p:hover {
  color: red;
}

@media (max-width: 764px) {
  .backgroundTitle h1{
    position: absolute;
    top: 0;
    transform: translate(10rem, 5rem); /* further back */
    filter: blur(1px);
    font-size: clamp(5vw, 12vw, 15vw);
    color: var(--description-color);
  }
  .imgWrap {
    position: absolute;
    right: 0;
  }
}
