nav {
  width: 100%;
  height: clamp(10vh, 13vh, 15vh);
  display: flex;
  align-items: center;
  padding: 2rem 0;
  padding-top: 1rem;
  font-size: clamp(1rem, 2vw, 3vw);
  position: relative;
  z-index: 10;

}

nav button {
  background-color: transparent;
  border: none;
  color: var(--header-text-color);
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
  position: relative;
  z-index: 1;
}
.container ul {
  display: flex;
  gap: 2rem;
  color: var(--header-text-color);
}
.navLinks {
  color: var(--header-text-color);
}
.logo {
  color: var(--header-text-color);
}