.bubble-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  z-index: 1;
}

.bubble-color {
  border-radius: 50%;
  position: absolute;
  box-shadow:
              0 0 18px rgba(255, 220, 180, 0.685),
              0 0 25px rgba(255, 220, 180, 0.597),
              0 0 70px rgba(255, 220, 180, 0.305),
              0 0 90px rgba(255, 220, 180, 0.255)
            ;
            background-color: rgba(255, 240, 220, 0.668);
}

.bubble1 {
  top: 20%;
  left: 0;
  width: 200px;
  height: 200px;
  transform: translate(-60px, -40px);
}

.bubble2 {
  bottom: 0;
  left: 0;
  width: 130px;
  height: 130px;
  transform: translate(170px, 0);
  filter: blur(1px);
}

.bubble3 {
  top: 0;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translate(0, 50px);
  filter: blur(2px);
}

.bubble4 {
  top: 30%;
  right: 0;
  filter: blur(3px);
  width: 100px;
  height: 100px;
}

.bubble5 {
  bottom: 0;
  right: 0; 
  width: 190px;
  height: 190px;
  transform: translate(40px, 60px);
  filter: blur(1px);
}


@media (min-width: 1440px) {
  .bubble1 {
    width: 220px;
    height: 220px;
  }

  .bubble2 {
    width: 150px;
    height: 150px;
  }

  .bubble3 {
    width: 170px;
    height: 170px;
  }

  .bubble4 {
    width: 120px;
    height: 120px;
  }

  .bubble5 {
    width: 210px;
    height: 210px;
  }
}

@media (min-width: 1920px) {
  .bubble1 {
    width: 280px;
    height: 280px;
  }

  .bubble2 {
    width: 180px;
    height: 180px;
  }

  .bubble3 {
    width: 200px;
    height: 200px;
  }

  .bubble4 {
    width: 150px;
    height: 150px;
  }

  .bubble5 {
    width: 240px;
    height: 240px;
  }
}

@media (min-width: 2500px) {
  .bubble1 {
    width: 700px;
    height: 700px;
    filter: blur(1px);
  }

  .bubble2 {
    width: 380px;
    height: 380px;
    filter: blur(5px);
    transform: translate(30rem, 0) !important;
  }

  .bubble3 {
    width: 420px;
    height: 420px;
    filter: blur(3px);
  }

  .bubble4 {
    width: 300px;
    height: 300px;
    filter: blur(7px);
    transform: translate(-10rem, 0) !important;
  }

  .bubble5 {
    width: 580px;
    height: 580px;
    filter: blur(2px);
  }
}


@media (max-width: 960px) {
  .bubble1 {
    width: 150px;
    height: 150px;
  }

  .bubble2 {
    width: 80px;
    height: 80px;
  }

  .bubble3 {
    width: 100px;
    height: 100px;
  }

  .bubble4 {
    width: 50px;
    height: 50px;
  }

  .bubble5 {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 764px) {
  .bubble-color {
    max-width: 100px;
    max-height: 100px;
  }
}

@media (max-width: 320px) {
  .bubble1 {
    width: 120px;
    height: 120px;
  }

  .bubble2 {
    width: 70px;
    height: 70px;
    transform: translate(-0.2rem, 0) !important;
  }

  .bubble3 {
    width: 70px;
    height: 70px;
  }

  .bubble4 {
    width: 50px;
    height: 50px;
  }

  .bubble5 {
    width: 110px;
    height: 110px;
  }
}