
.project-background-title h1{
  position: absolute;
  top: 0;
  right: clamp(10rem, 11rem, 20rem);
  transform: translate(10rem, 1rem); /* further back */
  filter: blur(1px);
  font-size: clamp(5vw, 12vw, 15vw);
  color: var(--description-color);
}

.project-wrap {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-70%, 0%);
  display: flex;
  justify-content: center;
  z-index: 10;
  max-height: 100dvh;
  overflow: auto; /* in case content exceeds */
}

.partial-space {
  display: inline-block;
  height: 25vh;
  padding: 0;
  margin: 0;
} 
.scroll-down-message p{
  color: rgba(255, 255, 255, 0.546);
  font-size: clamp(1.2rem, 2vw, 3rem);
  border: 1px solid rgba(255, 255, 255, 0.608);
  border-radius: 50%;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-top: 1rem;
  padding: 0 1rem;
}
.scroll-down-message {
  display: flex;
  height: 25vh;
  text-align: center;
  justify-content: end;
  align-items: end;
  gap: 0.5rem;
}
.scrolldown-left {
  position: relative;
  text-align: center;
  height: clamp(1rem, 2vw, 1.5rem);
  width: clamp(1rem, 2vw, 1.5rem);
  transform: rotate(-45deg);
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid  #ffffff;
  animation: scroll 1.5s infinite linear;
}

.error-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
}
.error-page video{
  margin: 0 auto;
  width: auto;
  height: 50vh;
  object-fit: contain;
}
.error-page h1,
.error-page p {
  color: rgba(245, 245, 245, 0.935);
  margin-left: 1rem;
}
.error-page p:hover {
  color: rgb(2, 117, 117);
}

@keyframes scroll {
   0% {
    opacity: 0;
    transform: rotate(-45deg) translate(10px, -10px);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: rotate(-45deg) translate(0, 0);
  }
  100% {
    opacity: 0;
  }
}

#smooth-wrapper {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#smooth-content {
  overflow: visible;
  width: 100%;
  padding-top: clamp(10vh, 13vh, 15vh); /* Match fixed header height */
}

@media (min-width: 2049px) {
  .scroll-down-message p{
    font-size: clamp(1.2rem, 2vw, 5rem);
    padding-top: 1rem;
  }
  .scroll-down-message {
    display: flex;
    height: 35vh;
    gap: 2rem;
  }
  .scrolldown-left {
    height: clamp(1rem, 2vw, 4rem);
    width: clamp(1rem, 2vw, 4rem);
    transform: rotate(-45deg);
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid  #ffffff;
    margin-bottom: 2rem;
  }
  .error-page h1,
  .error-page p {
    font-size: 10rem;
  }
}

@media (min-width: 800px) and (min-height: 1080px) and (orientation: portrait) {
  .project-wrap {
    top: 15%;
    flex-direction: column-reverse;
    justify-content: end;
    transform: translate(-50%, 0%);
    gap: 1.5rem
  }
  .scroll-down-message p{
    font-size: clamp(2rem, 3vw, 4rem);
  }
  .scroll-down-message {
    gap: 1rem;
  }
  .scrolldown-left {
    height: clamp(1rem, 3vw, 4rem);
    width: clamp(1rem, 3vw, 4rem);
    margin-bottom: 0;
  }
}
@media (max-width: 750px) and (max-height: 500px) and (orientation: landscape) {
  .scroll-down-message {
    display: none;
  }
}

@media (min-width: 600px) and (max-height: 1024px) and (orientation: portrait) {
  .project-wrap {
    top: 3%;
    flex-direction: column-reverse;
    justify-content: end;
    transform: translate(-50%, 0%);
    gap: 1.5rem
  }
}

@media (max-width:599px) {
  .project-wrap {
    top: 3%;
    flex-direction: column-reverse;
    justify-content: center;
    width: 20rem;
    transform: translate(-55%, 0%);
    gap: 0.5rem
  }
  .error-page h1 {
    font-size: 2rem;
  }
  .scroll-down-message p{
    font-size: clamp(1rem, 2vw, 3rem);
  }
  .scroll-down-message {
    gap: 0.1rem;
  }
}

@media (max-width: 320px) {
  .project-container {
    height: 100svh;
  }
}

