.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: auto;
  margin-left: 1.5rem;
  width: 100%;
}

.container span {
  color: var(--description-color);
  font-size: clamp(0.8rem, 2vw, 3.5rem);
}

.typingEffect {
  display: inline-block;
  font-size: 1rem;
  white-space: pre;
}

.letter {
  opacity: 0;
  transform: translatey(-6px);
  display: inline-block;
  transition: opacity 1s ease-in-out, transform 1s ease;
  position: relative;
}

.letterVisible {
  opacity: 1;
  transform: translateY(0);
}

.sparkle {
  position: absolute;
  top: -8px;
  right: -10px;
  font-size: 0.5em;
  pointer-events: none;
  z-index: 10;
  opacity: 0;
  transform-origin: center;
  
  /* Disney-like sparkle effects */
  filter: drop-shadow(0 0 3px rgba(255, 217, 0, 0.399)) 
          drop-shadow(0 0 6px rgba(255, 255, 255, 0.6));
  
  filter: blur(10px);
}

.sparkle::before {
  content: '✦';
  position: absolute;
  top: -3px;
  left: 3px;
  font-size: 0.8em;
  color: #fbeb92bd;
  opacity: 0.5;
  animation: twinkle 2s infinite;
}

.sparkle::after {
  content: '⋆';
  position: absolute;
  top: 2px;
  left: -2px;
  font-size: 0.5em;
    opacity: 0.5;
  color: #ffffffad;
  animation: twinkle 2s infinite 0.5s;
}

@keyframes twinkle {
  0%, 100% { opacity: 0; transform: scale(0.5) rotate(0deg); }
  50% { opacity: 1; transform: scale(1) rotate(180deg); }
}


@media (max-width: 599px) {
  .container {
    padding: 1rem;
    margin: 0;
  }

  .typingEffect {
    font-size: 1rem;
    white-space: normal;
  }
  .container span {
    font-size: clamp(1rem, 1vw, 2.5rem);
    text-align: start;
  }
  .sparkle {
    top: -2px;
    font-size: 0.5em;
  }
  .enText {
    margin-top: 1rem;
  }
  .mobileFirstLine {
    margin-top: 1rem;
  }
} 

@media (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
  .container span {
    font-size: clamp(1.5rem, 1vw, 2.5rem);
    text-align: start;
  }
}

@media (min-width: 2049px) {
  .container span {
    font-size: clamp(1.5rem, 1vw, 6.5rem);
    margin: 0 auto;
  }
}