.container {
  width: 100%;
  margin: 0 5rem;
  perspective: 1000px;
  position: relative;
}
.profileWrap h1, .profileWrap p {
  color: white;
}
.profileWrap {
  display: flex;
  flex-direction: column;
  width: clamp(17.5rem, 40vw, 60rem); 
  height: clamp(200px, 20vh, 400px);

  padding: clamp(1rem, 2vw, 2rem);
  margin-top: 1rem;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}
.profileFirstName h1, .profileLastName h1 {
  display: block;
  font-size: clamp(1.8rem, 5vw, 7vw);
  font-weight: 800;
  line-height: 1.3em;
  transform: translateZ(100px); /* closer */
}

.profileTitle {
  position: absolute;
  right: 10%;
  top: 1rem;
  font-size: clamp(1rem, 3.1vw, 4rem);
  transform: translateZ(-50px); /* further back */
  opacity: 0.9; /* enhance depth effect */
  filter: blur(0.5px);
  background-color: rgba(240, 248, 255, 0.042);
  width: auto;
  height: auto;
  padding: 1rem;
}
.profileLanguage {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  align-self: flex-end;
  font-size: clamp(0.8rem, 2vw, 2.5rem);
  margin: 0 0.5rem 0 0;
  transform: translateZ(-50px); /* further back */
  opacity: 0; /* enhance depth effect */
  filter: blur(0.5px);
  height: auto;
  padding: 1rem;
  background-color: rgba(240, 248, 255, 0.014);
}

.secondContainer {
  display: flex;
  width: clamp(22rem, 38vw, 46rem);
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.firstName, .lastName {
  color: bisque;
  height: auto;
  font-size: clamp(0.8rem, 2.5vw, 4rem);
  filter: blur(0.5px);
}
.firstName {
  width: clamp(23vw, 33vw, 30rem);
}
.lastName {
  width: clamp(30rem, 73vw, 60rem);
}