.container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: relative;
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding: 1rem;
}

.invertSideContainer {
  flex-direction: row-reverse;
}

.imageWrap {
  display: flex;
  flex-direction: column;
  width: clamp(24rem, 35vw, 40rem);
  height: auto;
  padding: 2rem 0;
  justify-self: end;
  flex: 0.9;
  position: relative;
  z-index: 2;
}
.imageWrap img {
  width: clamp(18rem, 45vw, 50rem);
  height: auto;
  margin-left: auto;
  object-fit: scale-down;
}

section:nth-of-type(1) .imageWrap img {
   width: clamp(18rem, 30vw, 50rem);
   flex: 0;
}

.invertImg {
  margin: 0 !important;
  margin-right: auto;
}

.description h2,
.description p, 
.description h3 {
  color: var(--otherProjectsDescription-color);
}
.description p{
  width: clamp(1rem, 30ch, 40ch);
}
.description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  position: relative;
  z-index: 1;
  width: clamp(20rem, 45vw, 60rem);
}

.titleDescriptionWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 2;
}
.rightSideTitle{
  text-align: center;
  background: linear-gradient(to bottom, #ffffff, #d4cc33);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}

.titleDescriptionWrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: clamp(100vw, 130vw, 250vw);
  height: 110%;
  background: var(--projectsTitleBanner-bg);
  transform: translateX(-50%);
  z-index: -1;       
  border: 0.1px solid #8e8e8e;
}

.languages h3 {
  color: var(--otherProjectsDescription-color);
}
.languages {
  display: flex;
  flex-direction: column;
  align-self: end;
  width: clamp(30vw, 35vw, 20rem);
  height: auto;
  font-size: clamp(0.5rem, 2vw, 1.5rem);
  margin-top: auto;
  flex: 0.8;
}
.languages.rightSideUl {
  text-align: end;
}
.languages.leftSideUl {
  text-align: start;
  align-self: start;
}

.links a {
  color: aliceblue;
}
.links {
  display: flex;
  justify-content: end;
  gap: 1.3rem;
  width: 100%;
  height: auto;
  margin-top: 1rem;
}
.invertLinks {
  justify-content: start;
}
.link {
  display: flex;
  gap: 0.5rem;
}

.github {
  width: clamp(2rem, 3vw, 2.5rem);    
  fill: whitesmoke;
  transform: translateY(-20%);
}

.newTab {
  width: clamp(1.5rem, 3vw, 2.5rem);    
  fill: whitesmoke;
  transform: translateY(-10%);
}

.otherProjectsSection {
  position: relative;
  height: 130vh;
}

.videoBackground{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.videoBackground video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  width: 100%;
  margin-top: 4rem;
}

.smoothWrapper {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 50vh;
}

.smoothContent {
  overflow: visible;
  width: 100%;
  padding-top: clamp(10vh, 13vh, 15vh); /* Match fixed header height */
}


@media (max-width: 764px) {
  .imageWrap {
    flex: 1;
  }
  .imageWrap img {
    margin: 0 auto;
  }
  .links {
    justify-content: center;
  }
}